/*
blue :#2479BB;
*/


@import url('https://fonts.googleapis.com/css?family=Rubik');

body{
	background:#F6F7FB;
	font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .table {
    font-family: 'Rubik', sans-serif;
}

.block-header h2{
	text-transform: capitalize !important;
}

/* -------------------------------------------  NAVBAR -------------------------------------------  */ 

.navbar {
    background-color: #FEFEFE !important;
    box-shadow: none;
    border-bottom: 1px solid #F0F0F3;
}

.navbar-header {
    padding: 2px 7px;
}

.nav > li > a {
    color:#A0A5AF !important;
}

.navbar-nav > li > a {
    padding: 7px 7px 2px 7px;
    margin-top: 12px;
    margin-left: 5px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
	position:relative;
	color:#111111 !important;
}

.navbar-brand:before {
	content:"";
	position:absolute;
	background:#FEFEFE url(sdm-logo.png) no-repeat center center;
	background-size:contain;
	top:0;right:0;bottom:0;left:0;
}

/* -------------------------------------------  NAVBAR -------------------------------------------  */ 


/* -------------------------------------------  SIDEBAR -------------------------------------------  */ 

.sidebar {
    height: calc(100vh - 50px);
    top: 55px;
    box-shadow: none;
    border-right: 1px solid #F0F0F3;
}

.sidebar .user-info,.sidebar .menu .list .header {
    display: none;
}

.theme-red .sidebar .legal .copyright a,.sidebar .legal .copyright a {
    color: #2479BB !important;
}

.theme-red .sidebar .menu .list li.active > :first-child i, .theme-red .sidebar .menu .list li.active > :first-child span {
    color: #2479BB !important;
}

.sidebar .menu .list a span,.sidebar .menu .list a {
    color: #A0A5AF;
	font-family: 'Rubik', sans-serif;
}

.sidebar .menu .list a span{
	font-weight:500;
}

.switch label input[type=checkbox]:checked + .lever.switch-col-cyan {
    background-color: rgba(63, 169, 245, 0.5);
}

.switch label input[type=checkbox]:checked + .lever.switch-col-cyan:after {
    background-color: #3FA9F5;
}

/* -------------------------------------------  SIDEBAR -------------------------------------------  */ 

.card , .card .body , .info-box  {
    box-shadow: none;
    border: 1px solid #F0F0F3;
	border-radius:3px;
}

.sidebar .menu .list i.material-icons {
    margin-top: 4px;
    color: #CED3DD;
}

.info-box .icon {
    background-color: rgba(0, 0, 0, 0.05);
}


.label-count {
    background-color: #E91E63;
    color: #ffffff;
}

.ls-closed .bars:after, .ls-closed .bars:before {
	color: #A0A5AF;
	top: 10px;
}

/* BLUE #1 */
.bg-pink , .bg-blue-01 {
    background-color: #1C4794 !important;
    color: #fff;
}

/* BLUE #2 */
.bg-cyan , .bg-blue-02 {
    background-color: #2479BB !important;
    color: #fff;
}

/* BLUE #3 */
.bg-light-green , .bg-blue-03 {
    background-color: #4E84FD !important;
    color: #fff;
}

.bg-teal {
    background-color: #4E84FD !important;
    color: #fff;
}

/* BLUE #4 */
.bg-orange , .bg-blue-04 {
    background-color: #3FA9F5 !important;
    color: #fff;
}


.bg-green {
    background-color: #7AC943 !important;
    color: #fff;
}

.bg-green2 {
    background-color: #80CBC4 !important;
    color: #fff;
}

.bg-header {
    background-color: #4682B4 !important;
    color: #fff;
}
.bg-header-sub {
    background-color: #0099FF !important;
    color: #fff;
}

.bg-column {
    background-color: #4682B4 !important;
    color: #fff;
}

.bg-text {
    background-color: #FFFF00 !important;
    color: #fff;
}


.label {
    border-radius: 3px;
    font-weight: 500;
    font-size: 70%;
    padding: .5em .9em .5em;
}

.span-dots {
    display: inline-block;
    width: 250px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.span-dots-outlet-open {
    display: inline-block;
    width: 210px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.span-dots-name-outlet {
    display: inline-block;
    width: 230px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.span-dots-area {
    display: inline-block;
    width: 210px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.span-dots-project {
    display: inline-block;
    width: 210px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}



/* -------------------------------------------  MEDIA QUERY -------------------------------------------  */ 
@media (max-width: 1169px) and (min-width: 992px){
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 40px;
}

}

/* -------------------------------------------  MEDIA QUERY -------------------------------------------  */ 